# Pi dependencies (hardware libraries included). Dev server: requirements-dev.txt
RPi.GPIO
spidev
Pillow
adafruit-blinka
adafruit-circuitpython-scd4x    # SCD41 CO2 (+ its own temperature/humidity)
adafruit-circuitpython-sht4x    # SHT41 temperature/humidity
Flask
waitress
